<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% stylesheets
            'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
            '@AppBundle/Resources/public/css/blog.css'
            '@AppBundle/Resources/public/css//custom.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}Read It Later !{% endblock %}</title>
    </head>

    <body>

        <div class="blog-masthead">
            <div class="container">
                <nav class="blog-nav">
                    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                    {% set post_css = "" %}
                    {% set category_css = "" %}
                    {% set post_archived_css = "" %}

                    {% if 'archived' in currentPath %}
                        {% set post_archived_css = "active" %}
                    {% elseif 'categories' in currentPath %}
                        {% set category_css = "active" %}
                    {% else %}
                        {% set post_css = "active" %}
                    {% endif %}

                    <a class="blog-nav-item link-home {{ post_css }}" href="{{ path('post_index_paginated') }}">{{ 'menu.home'|trans }}</a>
                    <a class="blog-nav-item link-categories {{ category_css }}" href="{{ path('category_index_paginated') }}">{{ 'menu.categories'|trans }}</a>
                    <a class="blog-nav-item link-categories {{ post_archived_css }}" href="{{ path('post_archived_index_paginated') }}">{{ 'menu.archives'|trans }}</a>
                </nav>
            </div>
        </div>

        <div class="container">

            <div class="blog-header row row-eq-height">
                <div class="col-xs-8">
                    <h1 class="blog-title">Read It Later</h1>
                    <p class="lead blog-description">{{ 'title.slogan'|trans }}</p>
                </div>

                <div class="col-xs-4 vertical-align">
                    {% block actions %}{% endblock %}
                </div>
            </div>

            <div class="row">

                <div class="col-sm-12 blog-main">
                    {% block body %}{% endblock %}
                </div><!-- /.blog-main -->

                {% block sidebar %}

                {% endblock %}
                <!-- /.blog-sidebar -->

            </div><!-- /.row -->

        </div><!-- /.container -->

        <footer class="blog-footer">
            <p>{{ 'footer.text'|trans }}</p>
            <p>
                <a href="#">{{ 'back.to.top'|trans }}</a>
            </p>
        </footer>

        {% javascripts 'assets/vendor/bootstrap/dist/js/bootstrap.min.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
