{% extends 'AppBundle::base.html.twig' %}

{% block actions %}
    <a href="{{ path('category_form_new') }}" class="btn btn-default add-category">{{ 'button.add.category'|trans }}</a>
{% endblock %}

{% block body %}
    {% set i = 1 %}
    {% for category in categories %}
        {% if i == 1 %}
            <div class="row row-eq-height">
        {% endif %}
                <div class="col-xs-6">
                    <div class="well">
                        <a href="{{ path('category_show', { id: category.id }) }}">
                            {{ category.title }}
                        </a>
                        <p>
                            {{ category.description }}
                        </p>
                    </div>
                </div>
        {% set i = (i + 1) % 2 %}
        {% if i == 1 or loop.last %}
            </div>
        {% endif %}
    {% else %}
        <div class="well">{{ 'category.no_categories_found'|trans }}</div>
    {% endfor %}

    <div class="navigation text-center">
        {{ knp_pagination_render(categories) }}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
