{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="blog-post">
        <h2>{{ 'category.create.title'|trans }}</h2>

        <form action="{{ path('category_new') }}" method="post" class="form-horizontal" id="categoryForm">
            <!-- Title -->
            <div class="form-group">
                {{ form_label(form.title, 'Title', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <!-- /Title -->

            <!-- Description -->
            <div class="form-group">
                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <!-- /Description -->

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-primary btn-save">Save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
