{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="blog-post">
        <div class="row">
            <div class="col-xs-8">
                <h2 class="blog-post-title">{{ category.title }}</h2>
                <p>{{ category.description }}</p>
            </div>

            <div class="col-xs-4">
                <form action="{{ path('category_delete', { 'id': category.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
        {% set i = 1 %}
        {% for post in posts %}
            {% if i == 1 %}
                <div class="row row-eq-height">
            {% endif %}
            <div class="col-xs-4">
                <div class="well">
                    <h2>
                        <a href="{{ path('post_show', { id: post.id }) }}">
                            {{ post.title }}
                        </a>
                    </h2>
                    <div>
                        Added : {{ post.publishedAt | date("d/m/Y") }}
                    </div>
                </div>
            </div>
            {% set i = (i + 1) % 3 %}
            {% if i == 1 or loop.last %}
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-danger">{{ 'post.no_posts_found'|trans }}</div>
        {% endfor %}
    </div><!-- /.blog-post -->
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
