{% extends 'AppBundle::base.html.twig' %}

{% block actions %}
    <a href="{{ path('post_form_new') }}" class="btn btn-default add-post">{{ 'button.add.post'|trans }}</a>
{% endblock %}

{% block body %}
        {% set i = 1 %}
        {% for post in posts %}

            {% if i == 1 %}
                <div class="row row-eq-height">
            {% endif %}
                    <div class="col-xs-4">
                        <article class="well">
                            <h2>
                                <a href="{{ path('post_show', { id: post.id }) }}">
                                    {{ post.title }}
                                </a>
                            </h2>
                            {% if null != post.category %}
                            <div>
                                Category :
                                <a href="{{ path('category_show', { id: post.category.id}) }}">
                                    {{ post.category.title }}
                                </a>
                            </div>
                            {% endif %}
                            <div>
                                Added : {{ post.publishedAt | date("d/m/Y") }}
                            </div>
                        </article>
                    </div>

            {% set i = (i + 1) % 3 %}
            {% if i == 1 or loop.last %}
                </div>
            {% endif %}
        {% else %}
            <div class="well">{{ 'post.no_posts_found'|trans }}</div>
        {% endfor %}
    </div>

    <div class="navigation text-center">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
