{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="blog-post">
        <h2>{{ 'post.create.title'|trans }}</h2>

        <form action="{{ path('post_new') }}" method="post" class="form-horizontal" id="postForm">
            <!-- Title -->
            <div class="form-group">
                {{ form_label(form.title, 'Title', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <!-- /Title -->

            <!-- URL -->
            <div class="form-group">
                {{ form_label(form.url, 'URL', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <!-- /URL -->

            <!-- Category -->
            <div class="form-group">
                {{ form_label(form.category, 'Category', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <!-- /Category -->

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-primary btn-save">Save</button>
                </div>
            </div>
        </form>
    </div><!-- /.blog-post -->
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
