{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="blog-post">
        <div class="col-xs-8">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta">{{ post.publishedAt|date("d/m/Y") }}</p>
        </div>
        <div class="row">
            <div class="col-xs-4 action-buttons">
                <form action="{{ path('post_archive', { 'id': post.id }) }}" method="post">
                    <input type="hidden" name="_method" value="PUT"/>
                    <input type="submit" value="Archive" class="btn btn-default btn-archive" />
                </form>
                <form action="{{ path('post_delete', { 'id': post.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
        {% if post.content != null %}
            {% autoescape %}
                <p>{{ post.content | raw }}</p>
            {% endautoescape %}
        {% else %}
            <div class="alert alert-warning">{{ 'post.content_not_downloaded'|trans }}</div>
        {% endif %}
    </div><!-- /.blog-post -->
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
