img {
    max-width: 100%;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.parent-vertical-align {
    display:table;
    table-layout:fixed
}

.vertical-align {
    display: table-cell;
    vertical-align: middle;
    float: none;
    text-align:right;
}

.vertical-align a {
    margin-bottom: 5px;
}

.action-buttons form {
    display: inline;
}